version: '3.5'
services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.9
    container_name: gopher-etcd
    command:
      - /usr/local/bin/etcd
      - --name=gopher-etcd
      - --data-dir=/etcd-data
      - --advertise-client-urls=http://0.0.0.0:2379
      - --listen-client-urls=http://0.0.0.0:2379
      - --listen-peer-urls=http://0.0.0.0:2380
      - --initial-advertise-peer-urls=http://0.0.0.0:2380
      - --initial-cluster=gopher-etcd=http://0.0.0.0:2380
      - --initial-cluster-state=new
    ports:
      - "2379:2379"
      - "2380:2380"
    volumes:
      - etcd-data:/etcd-data

volumes:
  etcd-data:
